body{
  height:auto;
  margin:0;
  font-family: 'Bungee Shade', sans-serif;
  width:100%;
}

h1{
  text-align: center;
}

button{
  display: block;
  margin:0 auto;
  padding: 10px;
  background: red;
  border: 0px;
  border-radius: 3px;
  font-weight: bold;
  color: white;
}

.default-button-style{
  box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.6);
}

.default-button-style:hover{
  opacity: 0.8;
}

.default-button-style:active{
  -webkit-transform:scale(0.98);
  -moz-transform:scale(0.98);
  -ms-transform:scale(0.98);
  transform:scale(0.98);
}

#ocean{
  position:absolute;
  width:100%;
  height:40%;
  bottom: 0;
  background-color: #0fa3ff;
  background-image: -webkit-gradient(
  linear,
  left bottom,
  left top,
  color-stop(0, #0f83ff),
  color-stop(0.50, #0fa3ff)
  );
  );
}

#sick-manu{
  position: fixed;
  top: -200px;
  left: 45%;
  max-width: 200px;
}
#manu-alert{
  text-align: center;
}

#name{
  width: 25%;
  margin: 0 auto;
  margin-top: 20px;
  font-size: 20px;
  color: #494949;
  display: block;
  padding: 10px;
  outline: none;
  border: 2px solid grey;
  border-radius: 3px;
  text-align: center;
}

@media (max-width: 600px) {
  #sick-manu{
    left:25%;
  }
  #name{
    width: 75%;
  }
}
